---
---

.sidebar-list {
    font-size: 85%;
    line-height: 1.4;
}

.altcol-title {
    margin: 15px 0 10px;
    padding: 5px;
    border-bottom: 1px solid #0078b6;
    font-size: 1.2em;
    font-weight: 700;
    color: #0078b6;
}

.title {
    margin: 15px 0 10px;
    padding: 5px;
    border-bottom: 1px solid #0078b6;
    font-size: 1.2em;
    font-weight: 700;
    color: #0078b6;
}

.categories {
    padding-left: 10px;
}

.categories li {
    display: block;
    line-height: 1.7;
    background: url({{ site.url }}/assets/cat.jpg) left top no-repeat;
}

.categories li a {
    color: Black;
    text-decoration: none;
    padding-left: 20px;
}

.recentposts {
    padding-left: 10px;
}

.recentposts li {
    display: block;
}

.posts {
    padding-left: 10px;
}

.posts li {
    display: block;
}


.blogroll {
    padding-left: 10px;
}

.blogroll li {
    display: block;
}

.blogroll li a {
    color: black;
    text-decoration: none;
}

.well {
    padding-top: 14px;
    padding-bottom: 14px;
}

.well h1 {
    color: #0078b6
}

:target {
    display: block;
    position: relative;
    top: -120px; 
    visibility: hidden;
  }

article {
    position: relative;
}

article h1 {
    padding: 10px 0 0 80px;
    color: #0078b6;
    font-size: 36px;
}

article .date {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 7px;
    padding-top: 14px;
    font-size: 0.8em;
    width: 62px;
    height: 70px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: url({{ site.url }}/assets/date.png) left top no-repeat;
}

article .date span {
    display: block;
    padding-top: 3px;
    font-size: 2em;
    font-weight: 700;
    color: #202020;
}

.postInfo {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 80px;
    color: #999;
    font-size: .95em;
}

.postInfo div {
    margin-bottom: 5px;
}

.postInfo .cat {
    padding-left: 20px;
    min-height: 16px;
    background: url({{ site.url }}/assets/cat.jpg) left top no-repeat;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
    text-align: center;
}

.container-left {
    margin: 0;
}

.copyright {
    color: #ffffff;
}

.col-fixed-220 {
    width: 220px;
    position: absolute;
}

.col-offset-250 {
    padding-left: 240px;
    padding-right: 10px;
}

.col-offset-20 {
    padding-left: 20px;
    padding-right: 10px;
}

@media(max-width: 767px) {
    .col-offset-250 {
        padding-left: 15px;
    }
}

html, body {
    width: 100%;
    height: 100%;
}

img {
    max-width : 100%;
    height: auto;
    display: block;
}