<div class="share-post">
    Partager sur &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ post.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Partager sur Twitter">
        <img src="{{ site.url }}/assets/twitter.png" alt="Twitter"/>
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ post.url }}&title={{ post.title }}&summary={% if page.layout == 'post' %} {{ page.content | strip_html | xml_escape
        | truncate: 500 }} {% else %} {{ site.name }} | {{ site.description }}  {% endif %}&source" rel="nofollow" target="_blank" title="Partager sur LinkedIn">
        <img src="{{ site.url }}/assets/linkedin.png" alt="LinkedIn"/>
    </a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Partager sur Facebook">
        <img src="{{ site.url }}/assets/facebook.png" alt="facebook"/>
    </a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Partager sur Google+">
        <img src="{{ site.url }}/assets/google.png" alt="Google"/>
    </a>
</div>