body {
    background-color: #111;
}

.card-img-top-item {
    height: 32px;
    padding: 0px 5px 0px 5px;
}

@media (max-width: 640px) {
    .blog-post {
        width: 450px
    }
}

article .card-body img {
    max-width: 100%
}

.pagination-card {
    height: 80px;
}

.pagination-wrapper {
    text-align: center;
}

.pagination {
    display: inline-block;
    margin: 0 0 2rem;
}

.pagination a,
.pagination span {
    border-radius: 3px;
    float: left;
    height: 48px;
    line-height: 48px;
    width: 48px;
}

a.pagination-step,
span.pagination-step {
    padding: 0 10px;
    width: auto;
}

.pagination-first,
.pagination-last,
.pagination-more {
    display: none;
}

.pagination .active {
    background: #ddd;
    color: #fff;
}

@media (min-width: 38em) {

    .pagination-first,
    .pagination-last,
    .pagination-more {
        display: block;
    }

    a.pagination-step,
    span.pagination-step {
        padding: 0 15px;
        width: auto;
    }
}

.list-tag-head {
    padding-inline-start: 15px;
}
