---
layout: default
---

{%- include breadcrumb.html -%}

<div class="row">
    <div class="col-lg-8">
        {%- include article.html -%}
        
        {% if page.comments_id %}
            {% include comments.html issue_id=page.comments_id %}
        {% endif %}
    </div>

    {%- include sidebar.html -%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js" integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</div>
