---
layout: default
---

{%- include breadcrumb.html -%}

<div class="row">
    <div class="col-lg-8">
        {%- include article.html -%}
        
        {% if page.comments_id %}
            {% include comments.html issue_id=page.comments_id %}
        {% endif %}
    </div>

    {%- include sidebar.html -%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://raw.githubusercontent.com/Azure/bicep/refs/heads/main/src/highlightjs/dist/bicep.min.js"></script>
    <script>hljs.highlightAll();</script>
</div>
