---
permalink: /blog/
---

{% include header.html %}

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-12 col-offset-250">
            <div class="well">
                <article>
                    <p class="date">
                        {% assign monthIndex = page.date | date: '%m' | minus: 1 %} {{ site.data.fr.shortmonths[monthIndex] }}
                        <span>{{ page.date | date: '%d' }}</span>
                    </p>
                    <h1>
                        <a href="{{ site.url}}{{ page.url }}">{{ page.title }}</a>
                    </h1>
                    <div class="postInfo">
                        <div class="cat">
                            <strong>Cat&eacute;gories :</strong>
                            {% assign last_category = page.categories | last %} {% for category in page.categories %} {% assign isLast = false %}
                            <a href="{{ site.url }}/categories.html#{{ category | url_encode }}">{{ category }}</a>{% unless category == last_category %}, {% endunless %} {% endfor %}
                        </div>
                    </div>
                    {% if site.comments and page.comments %} {% if site.disqus != '' %}
                    <p class="author">
                        <a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a>
                    </p>
                    {% elsif site.isso != '' %}
                    <p class="author">
                        <a href="{{ site.url }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a>
                    </p>
                    {% endif %} {% endif %}
                    <div class="post-content">
                        {{ content }}
                    </div>
                    {% if page.comments %} {% if site.disqus != '' %}
                    <div id="disqus_thread">
                        <noscript>Please enable JavaScript to view the
                            <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                        </noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by
                            <span class="logo-disqus">Disqus</span>
                        </a>
                    </div>
                    {% elsif site.isso != '' %}
                    <section id="isso-thread"></section>
                    {% endif %} {% endif %}
                </article>
            </div>

            <div class="well">
                {% include share.html %}
            </div>

            <div class="pagination">
                {% if page.next %}
                <a class="btn btn-default" href="{{ site.url}}{{ page.next.url }}" class="next">Quoi de neuf ? </a>
                {% endif %} {% if page.previous %}
                <a class="btn btn-default" href="{{ site.url}}{{ page.previous.url }}" class="previous">Et avant ?</a>
                {% endif %}
            </div>
        </div>
        <div class="col-fixed-220 hidden-xs">
            {% include sidebar.html %}
        </div>
    </div>
</div>

{% include disqus-comments.html %} {% include footer.html %}